
#w { 
  display: block; 
 /* width: 950px; */
  margin: 0px; 
  z-index:1000;
} 

.kroshki {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.kroshki > li {
  display: inline-block;
}

.kroshki > .active {
  color: #777;
}

#ddmenu {
  display: block;
  width: 101%;
  height: 35px;
  margin: 0px;
  padding: 2px;
  background: #fbfbfb;
  /*border-radius: 3px;*/
 /* border: 1px solid rgba(0, 0, 0, 0.15);*/
 /* box-shadow: 0 1px 1px rgba(20, 20, 20, 0.2);*/
  font-weight:none;
  cursor: pointer;
  outline: none;
  color: #606060;
 /* z-index:1000;*/
}

#ddmenu li { 
    display: block; 
    position: relative; 
    float: left; 
    font-size: 12px; 
    /*text-shadow: 1px 1px 0 #fff; */
   /* z-index:1000;*/
}

#ddmenu li a {
  display: block;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 35px;
  font-weight: none;
  text-decoration: none;
  color: #606060;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  /*z-index:1000;*/
}
#ddmenu li:hover > a { color: #fdfdfd; background: #8B4500;z-index:10; }

#ddmenu ul {
  position: absolute;
  top: 45px;
  width: 300px;
  background: #fdfdfd;
  display: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-radius: 3px;
  border: 1px solid #8B4500; /*rgba(0, 0, 0, 0.2);*/
  box-shadow: 0 0 5px #8B4500; /*rgba(0, 0, 0, 0.2);*/
 /* z-index:1000;*/
}

/* Стрелочки */
#ddmenu ul:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  left: 8px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: #8B4500 transparent; 
}

#ddmenu ul:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  left: 4px;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: #8B4500 transparent;  
}

#ddmenu ul li { 
  display: block; 
  width: 100%; 
  font-size: 12px; 
  /*text-shadow: 1px 1px 0 #fff;*/
}

#ddmenu ul li a {
  display: block;
  width: 100%;
  padding: 4px 7px;
  line-height: 1.4em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#ddmenu ul li a:hover {
  background: #8B4500;
}