/*
.c-product{
    width: 33%;
}

@media only screen and (max-width: 1024px){
    .c-product {
        width: 49%;
    }
}

@media only screen and (max-width: 480px){
    .c-product {
        width: 98%;
    }
}
*/
.no_product{
    opacity: 0.5;
}

.no_product:hover{
    opacity: 1;
}

.btn_img, .btn_img:hover {
	background: url(../img/btn_kredit.png) center bottom no-repeat;
	border: none;
	width: 198px;
	height: 38px;
	margin: 0px;
}

.filters__more{margin-top:0.9375rem;font-weight:normal;font-size:0.8125rem;text-align:center}
.filters__more .fa-angle-up{display:none}
.filters__more_active .fa-angle-down{display:inline-block}
.filters__more_active .fa-angle-up{display:inline-block}
.filters__more-link{display:inline-block;vertical-align:middle;margin-left:0.3125rem;margin-right:0.3125rem;color:#fff;border-bottom:1px dashed #fff;cursor:pointer;-moz-transition:color 0.2s ease,border-color 0.2s ease,background-color 0.2s ease;-o-transition:color 0.2s ease,border-color 0.2s ease,background-color 0.2s ease;-webkit-transition:color 0.2s ease,border-color 0.2s ease,background-color 0.2s ease;transition:color 0.2s ease,border-color 0.2s ease,background-color 0.2s ease}html.lt-ie8
.filters__more-link{display:inline;zoom:1}
.filters__more-link:hover{color:#ffd200;border-bottom-color:#ffd200}
.filters__more-link{
    font-size: 10px;
    margin-top: 10px;
}
.filters__more{
    padding-bottom: 5px;
    margin-top: 5px;
    border-bottom: 1px solid gray;
}
 
