<tr>
  <td align=center><font style="font-size:8px;">&count</font>
</td>
  <td><font style="font-size:10px;"><b>&tovar_artkl<b/></font>
</td>
  <td><font style="font-size:9px;">&tovar_name_1</font>
</td>
<!--  <td align=center>&operation_detail_price
</td>-->
  <td align=center><b>&operation_detail_item</b>
</td>
 <!-- <td align=center width="50px">&operation_detail_to
</td>-->
<td align=right width="50px"><font style="font-size:9px;">&warehouse_unit_13</font>
</td>  
<td align=right width="50px"><font style="font-size:9px;">&warehouse_unit_2</font>
</td>  
  <td align=right width="50px"><font style="font-size:9px;">&warehouse_unit_6</font>
</td>
  <td align=right width="50px"><font style="font-size:9px;">&warehouse_unit_4</font>
</td>
  <td align=right width="50px"><font style="font-size:9px;">&warehouse_unit_3</font>
</td>
</tr>
