
<!--&operation_data
&operation_id
&operation_summ
&klienti_name_1
&klienti_phone_1-->


<table width=700 class="print"><tr><td>

<table class="print" width=100%>
<tr>
  <td>&print rah no
</td>
  <td><b>&operation_beznal_rah</b> (&vid &operation_beznal_rah_date)
</td>
  <td><a href="javascript:open_excel();"><img src="../resources/img/excel.jpg" width="50px"></a>
  
</td>
</tr>

<tr>
  <td>&print vidal
</td>
  <td colspan=2>&firms_name
</td>
</tr>

<tr>
  <td>&print monydaj
</td>
  <td colspan=2><b>&klienti_name_1</b>
</td>
</tr>

<tr>
  <td>&print bank info rah
</td>
  <td colspan="2">&print bank rah
</td>
</tr>
<tr>
  <td>&print bank info zkpo
</td>
  <td colspan="2">&print bank zkpo
</td>
</tr>
<tr>
  <td>&print bank info bank
</td>
  <td colspan="2">&print bank bank &print bank info mfo &print bank mfo
</td>
</tr>

<tr><td colspan=3>
&fields
</td></tr>


<tr>
  <td colspan=2>&print summ
</td>
  <td align="right">&operation_summ
</td>
</tr>
<tr>
  <td colspan=2>&print pdv
</td>
  <td align="right">-
</td>
</tr>
<tr>
  <td colspan=2>&print summ + &print pdv
</td>
  <td align="right"><b>&operation_summ</b>
</td>
</tr>
<tr>
  <td>&print string
</td>
  <td colspan=2>&operation_str_summ
</td>
</tr>


</table>
</td></tr></table>