
<!--&operation_data
&operation_id
&operation_summ
&klienti_name_1
&klienti_phone_1-->
<table width=700 class="print"><tr><td>

<table class="print" width=100%>
<tr>
  <td>&print nakl no prihod
</td>
  <td><b></b> 
</td>
  <td>
</td>
</tr>

<!--<tr>
  <td>&print vidal
</td>
  <td colspan=2>&firms_name
</td>
</tr>

<tr>
  <td>&print otrimal
</td>
  <td colspan=2><b>&klienti_name_1</b>
</td>
</tr>-->


<tr><td colspan=3>
&fields
</td></tr>


<tr>
  <td colspan=2>&print summ
</td>
  <td align="right">&summ_bay
</td>
</tr>
<tr>
  <td colspan=2>&print pdv
</td>
  <td align="right">-
</td>
</tr>
<tr>
  <td colspan=2>&print summ + &print pdv
</td>
  <td align="right"><b>&summ_bay</b>
</td>
</tr>
<!--<tr>
  <td>&print string
</td>
  <td colspan=2>&operation_str_summ_zakup
</td>
</tr>-->


</table>
</td></tr></table>