<!--div
					class="fb-like"
					data-share="true"
					data-action="like"
					data-show-faces="true"
					data-layout="button_count"
					data-href="http://<?php echo MY_URL;?>/"
					data-show-faces="true">
				</div-->
<!--&operation_data
operation_id
operation_summ
klienti_name_1
klienti_phone_1
user_menu_lang
user_menu_logo
user_menu_phone
menu_main
menu_pay
menu_news
menu_deliv
menu_forum
menu_help
menu_adr
-->
&chat
&order
<div class="main-container">
  <div class="header-container" >
    <div class="header-logo">
      &user_menu_logo
    </div>
   <div class="header-contact">
      &user_menu_phone
    </div>
   <div class="header-login">
      &user_login
    </div>
  </div>
  <div class="div-close"></div>
  
  <div class="header-second">
    <div class="menu-str">
      &user_menu_top
    </div>
   <div class="find-str">
      &find
    </div>
  </div>
  <div class="div-close"></div>
  
  <div class="category-menu-wrapper">
    <div class="category-menu">
      &user_menu_catalog
    </div>
  </div>
  
  <div class="main-body">
    &body
  </div>
  <div class="main-memo">
    &sturm_memo
  </div>
  <div class="main-news">
    &news
  </div>
  
</div> 
 
<div class="div-close"></div>
<div class="copyright">Copyright 2014 (C) Sergey Kotlyarov. folder-list@gmail.com</div>
  


